@font-face {
    font-family: Lexend Deca;
    src: url("../fonts/LexendDeca-Medium.ttf");
}
@font-face {
    font-family: Big Shoulders Display;
    src: url("../fonts/BigShouldersDisplay-ExtraBold.ttf");
}

